.advantages {
  padding: 0 20px;
  margin-bottom: 50px;
}

.advantages__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #242424;

  padding: 0 20px;
}

.advantages__list {
  @include reset-list;
}

.advantages__img {
  display: block;
}

.advantages__item {
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;

  text-align: center;
}

.advantages__text {
  font-size: 20px;
  line-height: 24px;
  color: #242424;

  margin: 18px 0;
}
