.button {
  @include reset-button;

  background: linear-gradient(45deg, #1cbe7d, #b6dd31);
  display: block;

  padding: 16px 20px;
  margin: 0 auto;
  min-height: 58px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;

  // &:hover,
  // &:focus {
  //   background-color: $hover-color;
  // }

  // &:active {
  //   background-color: $onclick-color;
  //   color: rgba(255, 255, 255, 0.3);
  // }
}
