@font-face {
  font-family: "Circe";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Circe-Light.woff") format("woff");
}

@font-face {
  font-family: "Circe";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Circe-Regular.woff") format("woff");
}

@font-face {
  font-family: "Circe";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Circe-ExtraBold.woff") format("woff");
}
